.sidenav{
    background-color: #161b22;
    width: 200px;
}

.sidenav a{
    color: #FFF;
}

.sidenav i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: white;
    color: black;
}